html {
    background-color:plum;
    font-family:Arial, Helvetica, sans-serif;
}

.site-header {
    display:flex;
    justify-content:space-between;
}

.page-title {
    display:flex;
    justify-content:center;
    font-size: 50px;
    margin: 5px 0;
}

.top-right-nav {
    display:flex;
    list-style-type:none;
    margin:0px;
}

.right-nav-link {
    padding:4px 8px;
    margin:0 8px;
    color:black;
    text-decoration:none;
    font-size:15px;
    font-weight:600;
}

.homepage-nav {
    display:flex;
    flex-wrap: wrap;
    list-style-type:none;
    justify-content: space-evenly;
    padding:0;

}

.homepage-nav-link {
    background-color:rgb(235, 153, 125);
    padding:10px 15px;
    color:rgb(0, 0, 0);
    text-decoration:none;
}

.global1 {
    align-items:center;
}

.page-title {
    display:flex;
    justify-content:center;
}

.specific-title {
    display:flex;
    justify-content:center;
}

.global-nav {
    display:flex;
    list-style-type:none;
    justify-content: space-evenly;
    padding:0;
}

.footer {
    background-color:rgb(110, 187, 231);
}

.footer-nav {
    display:flex;
    flex-flow:column wrap;
    list-style-type:none;
    justify-content: space-evenly;
    padding:20px;
    gap:10px;
}

.footer-link {
    padding:10px 15px;
    color:rgb(0, 0, 0);
    text-decoration:none;
    flex:1;
}

.about-body {
    border:2px solid rgb(133, 128, 128);
    background-color:pink;
    margin-top:50px;
    padding:15px;
}