html {
    background-color:plum;
}

.site-header {
    display:flex;
    justify-content:space-between;
}

.page-title {
    display:flex;
    justify-content:center;
}

.top-right-nav {
    display:flex;
    list-style-type:none;
    margin:0px;
}

.right-nav-link {
    padding:4px 8px;
    margin:0 8px;
    color:black;
    text-decoration:none;
    font-size:14px;
    font-weight:600;
}

.wide-nav {
    display:flex;
    list-style-type:none;
    justify-content: space-evenly;
    padding:0;
}

.page-title {
    display:flex;
    justify-content:center;
}

.specific-title {
    display:flex;
    justify-content:center;
}